<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}HomePage{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/framework/fontawesome-4.7.0/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/framework/bootstrap-5.0.2/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/main/css/style.css') }}">
        {% endblock %}

    </head>
    <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('home') }}">
                <i class="fa fa-book" aria-hidden="true"></i>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Главная</a>
                    </li>
                </ul>
                <form class="d-flex">
                    {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                    <a href="{{ path('admin_home') }}" class="btn btn-warning" type="submit">В Админ панель</a>
                    {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-warning" type="submit">Войти</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </nav>
        {% block body %}{% endblock %}
    {% block javascripts %}
        <script src="{{ asset('assets/framework/bootstrap-5.0.2/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/framework/vue/vue.js') }}"></script>
                {% block addJs %}{% endblock %}
    {% endblock %}
    </body>
</html>
