<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Админ панель{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/framework/fontawesome-4.7.0/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/framework/bootstrap-5.0.2/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/main/css/style.css') }}">
    {% endblock %}

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="{{ asset('assets/framework/bootstrap-5.0.2/js/bootstrap.min.js') }}"></script>
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">
            Admin Panel
            <i class="fa fa-book " aria-hidden="true"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('admin_home') }}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('admin_user') }}">Пользователи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Выход на главную</a>
                </li>
            </ul>
            <form class="d-flex">
                    <a href="{{ path('app_logout') }}" class="btn btn-danger" type="submit">Выход</a>
            </form>
        </div>
    </div>
</nav>
{% block body %}{% endblock %}
</body>
</html>
